exp 7/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/20001/XMLSchema">
	<xs:complexType name="book">
		<xs:complexContent>
			<xs:attribute name="Book_name" type="xs:string"/>
			<xs:attribute name="Author_name" type="xs:string"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>